body{
    background-color: rgb(238, 193, 193);
}
p{
    background-color: aquamarine;
}
a{
    background-color: lightcoral;
}
div{
    background-color: yellow;
}
span{
    background-color: lightblue;
}